body {
  font-family: sans-serif;
}

.responsive {
  width: 100%;
  height: 85vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  text-align: center;
}



/*   ---------- <SideBar> -----------*/

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 32px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


/*   ---------- </SideBar> -----------*/

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#topbar {
  display: flex;
  justify-content: center;
  background-color: #373a47;
  margin-bottom: 3rem;
}

#topbar h1,
#topbar-msg h1 {
  padding-top: 3rem;
  margin: 0;
  margin-bottom: 3rem;
  text-transform: capitalize;
  color: #fff;
}

#topbar-msg {
  display: flex;
  justify-content: center;
  background-color: #373a47;
}

#messageInput {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  width: 100vw;
  position: absolute;
  bottom: 0vh;
}

#messages {
  overflow-y: scroll;
  padding: 0 1rem;
  margin-bottom: 4.5rem;
  max-height: 100%;
  margin-top: 0.8rem;
  bottom: 0px;
  display: flex;
  flex-direction: column-reverse;
}

#chatbox {
  max-height: 85%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
}

#rooms {
  height: 85%;
  padding: 1rem;
}

.rooms-create {
  display: block;
  background-color: #44bd32;
  color: #fff;
  padding: 0.75rem 1.25rem;
  border-radius: .375rem;
  margin: 1rem 0;
  width: 50%;
  text-align: center;
}

.rooms-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
}

.rooms-container {
  overflow-y: scroll;
  height: 80%;
}

.rooms-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.rooms-item--name {
  display: block;
  width: 70%;
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  font-weight: bold;
  color: #373a47;
  font-size: 1.4rem;
}

.rooms-item--actions {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#close {
  position: absolute;
  top: .5rem;
  right: 0;
  padding: 2.4rem;
  color: #fff;
  cursor: pointer;
}

.users-item {
  height: 5rem;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
}

.item-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-update {
  display: block;
  background-color: #40739e;
  color: #fff;
  padding: 0.75rem 1.25rem;
  border-radius: .375rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  width: 40%;
  text-align: center;
}